body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

hr.dashed {
    border-top: 2px dashed #e8e8e8;
    margin-top: 10px;
    margin-bottom: 10px;
}

.item-complete:disabled {
    background-color: #cddaff;
    color: white;
}

.zoom-effect {
    transition: all 0.3s ease-in-out;
}

.zoom-effect:hover {
    cursor: pointer;
    position: relative;
    scale: 105%;
}